/* 
    global styles 
    colors: 
    red - #ff5146
    gray - #2e2e2e rgb(46, 46, 46)
    white - #f7f7f7
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --gray01: rgba(46, 46, 46, .1);
    --gray02: rgba(46, 46, 46, .2);
    --gray03: rgba(46, 46, 46, .3);
    --gray04: rgba(46, 46, 46, .4);
    --gray05: rgba(46, 46, 46, .5);
    --gray06: rgba(46, 46, 46, .6);
    --gray07: rgba(46, 46, 46, .7);
    --gray08: rgba(46, 46, 46, .8);
    --gray09: rgba(46, 46, 46, .9);
    --gray10: rgb(46, 46, 46);
    --white10: #f7f7f7;
    --white01: rgba(247, 247, 247, .1);
    --red: #ff5146;
}

*::selection {
    background: var(--red);
    color: var(--white10);
}

body {
    font: 300 18px/1.5rem acumin-pro, helvetica, arial, sans-serif;
    color: var(--gray10);
    background: var(--white10);
}

h1, h2, h3, h4, h5, h6, a {
    font-family: acumin-pro-wide;
}

h1, h2, h3, p {
    margin-bottom: 1rem;
}


h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

a {
    font-weight: 400;
    color: var(--red);
    text-decoration: none;
    transition: .3s all;
}

a:hover {
    opacity: .6;
} 

img {
    width: 100%;
    margin: 1rem 0;
}

section ol, section ul { margin-left: 3rem; }
section article:focus, section:focus { outline: 0; }

/* grid */
.col-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.col-2 { width: calc(16.666666% - .5rem); }
.col-3 { width: calc(25% - .5rem); }
.col-4 { width: calc(33.333333% - .5rem); }
.col-5 { width: calc(40.833333% - .5rem); }
.col-6 { width: calc(50% - .5rem); }
.col-8 { width: calc(66.666666% - .5rem); }
.col-9 { width: calc(75% - .5rem); }
.col-12 { width: 100%; }

/*general*/
.bg-gray { background: var(--gray10); }
.txt-white { color: var(--white10); }
.hidden { display: none; }
.margin-left2 { margin-left: 2rem; }
.margin0 { margin: 0; }
.margin-left125 { margin-left: 1.25rem; }
.margin-btm2 { margin-bottom: 2rem; }
.margin-btm1 { margin-bottom: 1rem; }

/* page */
#main-nav {
    width: 100vw;
    height: 100vh;
    background: var(--red);
}

#main-nav ul li, footer ul li {
    width: 33%;
    display: inline-block;
}

#main-nav ul li:first-of-type {
    width: 100%;
}

#main-nav ul li a, footer a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    background: var(--red);
    border-radius: .25rem;
    padding: 2rem;
    color: var(--white10);
    opacity: .5;
}

#main-nav ul li a:hover, footer a:hover {
    background: var(--white01);
    opacity: 1;
}

#main-nav li a span:first-of-type, footer a span:first-of-type {
    display: block;
    text-transform: uppercase;
    font-size: .85rem;
}

#main-nav li a span:last-of-type, footer a span:last-of-type {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--white10);
}

#main-nav ul li a.current {
    opacity: 1;
}

#home #main-nav ul li a {
    opacity: 1;
}

footer {
    background: var(--red);
}

footer d {
    display: flex;
    flex-flow: row nowrap;
}

aside {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    background: var(--gray10);
}

.navlink, #tutorial-nav h4 {
    display: block;
    padding: .5rem;
    color: var(--white10);
    border-radius: .25rem;
}

#tutorial-nav h4 {
    font-weight: 600;
}

.navlink:hover {
    background: rgba(255, 255, 255, .1);
}

main {
    margin-left: 20%;
}

article { 
    padding: 1.5rem 0 1.5rem;
}

article {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

pre { white-space: pre-wrap; }

code {
    font-family: acumin-pro-wide;
    color: var(--red);
    background: var(--gray01);
    display: inline-block;
    padding: 0 .25rem; 
    border-radius: .25rem;
}

code.block { 
    font-family: monospace;
    color: var(--gray08);
    padding: 2rem;
    display: block; 
    position: relative;
    margin-bottom: 1rem;
}

code.note::after {
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    content: "this is just an example";
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: .5;
}

.list-ex {
    margin: 0;
    padding-left: 2rem;
}

.list-ex1 {
    list-style-type: square;
}

.list-ex2 {
    list-style-type: upper-roman;
}

.list-ex3 {
    list-style-position: inside;
    list-style-type: circle;
}

#soon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--white10);
    background: var(--red);
}

#soon a {
    color: var(--white10);
}