<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CSS Design | GRA 2723C </title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/ilh7abw.css">
  </head>
  <body>
    <aside>
        <nav id="tutorial-nav">
            <ul>
                <li><h4 class="txt-white">Tutorial 3: Typography</h4></li>
                <li><a href="../index.html" class="navlink">Back Home</a></li>
                <li><a href="#best-practices" class="navlink">Best Practices</a></li>
                <li><a href="#google-fonts" class="navlink">Google Fonts</a></li>
                <li><a href="#adobe-typekit" class="navlink">Adobe Typekit</a></li>
                <li><a href="#embedding-fonts" class="navlink">Embedding Fonts</a></li>
                <li><a href="#styling-type" class="navlink">Styling Type</a></li>
                <li><a href="#button-vs-button" class="navlink">Button vs Button</a></li>
                <li><a href="#icons" class="navlink">Icons</a></li>
                <li><a href="#lists" class="navlink">Lists</a></li>
                <li><a href="#exercise" class="navlink">Exercise 3</a></li>
                <li><a href="#project" class="navlink">Project 1B</a></li>
            </ul>
        </nav>
    </aside>

    <main id="tutorial">
        <section>
            <article>
                <h1>{{ Title }}</h1>
            </article>
        </section>
        <footer>
            <ul>
                <li><a href="../index.html"><span>Back</span><span>To Home</span></a></li>
                <li><a href="../tutorials/04-ftp.html"><span>Tutorial 4:</span><span>FTP</span></a></li>
                <li><a href="../tutorials/coming-soon.html"><span>Tutorial 5:</span><span>Images</span></a></li>
            </ul>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>